extend layout

block content
  div(class='admin-container')
    if (!currentUser)
    
      a(href="/sign-in" class='become-admin-login-link') Click here to log-in and become an admin!

    else 
      if(currentUser.isAdmin)
        div(class='become-admin-already-message')
          img(src="/images/party-popper-left.svg", alt="party-popper" class='become-admin-party-popper')
          h1 Good news, you are already an admin!
          img(src="/images/party-popper-right.svg", alt="party-popper" class='become-admin-party-popper')

      else
        div(class='become-admin-passcode-container')
          h2 Want to become an Admin?
          h3 Guess the passcode and you will become one!
          form(action="" method='post') 
            input(type="text" id='become-admin-secret-passcode' name='become-admin-secret-passcode' class='become-admin-passcode-input' required)
            button(type="submit"  class='become-admin-secret-passcode-btn') Done
