extends layout

block content
  div(class='top-bar')
    a(href='/membership') Become A Member
    a(href="/") Home
    if(user)
      a(href="dashboard") Dashboard
      a(href="/log-out") Log Out
    else
      a(href="/sign-in") Sign In
      a(href="/sign-up") Sign Up
