doctype html
html
  head
    title= 'Member Only'
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    div(class='top-bar')
      a(href="/") Home
      a(href='/membership') Become A Member
      a(href='/become-admin') Become An Admin
      if(currentUser)
        a(href="dashboard") Dashboard
        a(href="/log-out") Log Out
      else
        a(href="/sign-in") Sign In
        a(href="/sign-up") Sign Up

    block content
