extend layout

block content

  if (!currentUser)
  
    a(href="/sign-in") Log In to be able to become a member 

  else 
    if(currentUser.memberStatus)

      h1 Good news, you are already a member!

    else
      h2 Want to become a member ?
      h2 Answer the following riddle :
      h3 Who are man's best friends?
      form(action="" method='post') 
        input(type="text" id='secret-passcode' name='secret-passcode' required)
        button(type="submit") Done