extend layout

block content
  form(action="" method='post') 
    label(for="secret-passcode") Secret Passcode
    input(type="text" id='secret-passcode' name='secret-passcode')
    button(type="submit") Done