.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container>form {
  position: fixed;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d5fde4;
  padding: 5px 0px;
  border-radius: 5px;
  border: 2px solid rgb(0, 164, 0);
}

.form-container>form>div {
  display: flex;
  flex-direction: column;
}

.form-container>form>div>label {
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0px 3px;
}

.form-container>form>div>input,
.form-container>form>div>textarea {
  width: 450px;
  font-size: 20px;
  border: 2px solid rgb(0, 164, 0);
  border-radius: 5px;
  padding: 5px;
}

.form-container>form>div>textarea {
  resize: none;
}

.form-container>form>div>input:focus,
.form-container>form>div>textarea:focus {
  outline: none;
  border: 2px solid rgb(0, 206, 228);
}


.form-container>form>button {
  width: fit-content;
  color: white;
  font-size: 17px;
  font-weight: 700;
  padding: 8px 15px;
  margin: 10px 0px 10px;
  border-radius: 5px;
  background-color: #29e86f;
  border: 2px solid rgb(0, 164, 0);
  transition: transform .2s;
}

.form-container>form>button:hover {
  transform:scale(1.1);
}

.login-link {
  position: fixed;
  height: fit-content;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  padding: 20px;
  background-color: #29e86f;
  border-radius: 5px;
  transition: transform .2s;
}

.login-link:hover {
  transform:scale(1.1);
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 10px;
  padding: 15px 15px;
  border: 2px solid rgb(0, 164, 0);
  background-color: #d5fde4;
  border-radius: 5px;
}

.message-date {
  font-size: 15px;
  margin: 8px 0px;
}

.message-title {
  font-size: 18px;
  margin: 10px 0px;
}

.delete-message-container {
  display: flex;
  width: fit-content;
  align-self: flex-end;
  align-items: center;
  margin-top: 18px;
  padding: 8px 12px;
  background-color: rgb(255, 41, 41);
  border-radius: 5px;
}

.delete-message-container>p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-right: 5px;
}

.delete-message-container>img {
  width: 20px;
}