.sign-in-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:20px;
}

.sign-in-form-container>h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  background-color: #d5fde4;
  border-radius: 5px;
  border: 2px solid rgb(0, 164, 0);
}

.sign-in-form>label {
  font-size: 20px;
  font-weight: 700;
}

.sign-in-form>input {
  font-size: 20px;
  border: 2px solid rgb(0, 164, 0);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

.sign-in-form>input:focus {
  outline: none;
  border: 2px solid rgb(0, 206, 228);
}

.sign-in-form>button {
  width: fit-content;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #29e86f;
  border: 2px solid rgb(0, 164, 0);
  transition: transform .2s;
}

.sign-in-form>button:hover {
  transform:scale(1.1);
}

@media screen and (max-width: 500px) {

  .sign-in-form-container {
    margin-top:5px;
  }

  .sign-in-form {
    padding: 5px 15px;
  }
}